*{
    box-sizing: border-box;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../images/boja\ pozadina.jpg);
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: justify;
}


/* Header */
.nav-bar{
    background-color: whitesmoke;
    color: black;
    position: sticky;
    font-weight: bold;
    
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
img{
    width: 100%;
    max-width: 100%;
}
header .logo{
    width: 250px;
    height: auto;
    display: block;
    padding-right: 70px;
}
.main-nav{
    list-style-type: none;
    padding: 0;
    margin: 0; 
    display: none;
    text-decoration: none;
}
.mobile nav{
    font-size: 24px;   
}

/* ANIMATIONS */
.card{
    background-color: white;
    transition: all 500ms;
}
.card:hover{
    background-color: lightgrey;
}

/* Content */

.content{
    padding: 60px;
    text-align: center;
}
.content h2{
    margin-bottom: 40px;
    font-size: 36px;
    text-align: center;
    
}
.content article{
    padding: 5px;
    background-color: whitesmoke;
    color: black;
    margin-bottom: 40px;
    margin-top: 70px;
    border-radius: 12px;
}
.content article img{
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.content article h3{
    text-align: center;
}
.content article h4{
    text-align: center;
    background-color: gray;
    padding: 15px;
    margin: 60px;
    border-radius: 400px;
}
.content article h5{
    text-align: center;
    font-size: 17px;
    padding: 10px;
}
.content article p{
    margin: 10px;
    text-align: justify;
}


/* Flexbox */
.flex-container{
    display: flex;
    gap: 20px;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}

/* FOOTER */
footer{
    background-color: rgb(101, 177, 68);
    color: white;
    padding-left: 100px; 
    padding-right: 70px;
    border-radius: 60px;
    


}
.footer-nav{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    
}
.footer-nav a{
    color: white;
    text-decoration: none;

}
.footer-nav a:hover{
    color: #ff66c4;
}
.footer img{
    width: 20px
}
.footer-right{
    text-align: center;
}
.footer-content{
    text-align: center;
}






/* TABLET */
@media screen and (min-width: 768px){
    .content article{
        width: calc(50% - 20px);
    }
}

/* DESKTOP */
@media screen and (min-width: 1199px){
    .flex-row-desktop{
        flex-direction: row;
    } 
    .content article{
        width: calc(35% - 30px);
    } 
.mobile-nav{
    display: none;
}
.main-nav{
    display: flex;
}
footer div:first-child{
    text-align: center;
}
.footer-nav{
    text-align: center;
}
.main-nav li{
    margin: 0 10px;
}
.main-nav a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.main-nav a::after{
    content: '';
    display: block;
    width: 0;
    background-color: #ff66c4;
    transform: width .3s;
}
.main-nav a:hover::after{
    width: 100%;
}
.main-nav a:hover{
    color: #ff66c4;
}
}